<div class="MenuCategoryPart">
    <h1 class="MenuCategory-HeadText">Category</h1>
    <ul class="MenuCategory-list">
        <% MenuCategory.all.order(:name).each do |category| %>
            <% if (@current_user.role == "Owner" or category.status) %>
                <li><%= link_to category.name, menu_categories_path(menu_category_id: category.id),
                                style: "color:#{category.id == @menu_items.first.menu_category_id ? "#fcc603" : "#111"}" %>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>

<% if @current_user.role == "Owner" %>
    <div class="Owner-MenuCategory-button">
      <%= link_to "Add Item", new_menu_item_path, class: "AddItem-button" %>

      <%= link_to MenuCategory.find(@menu_items.first.menu_category_id).status ? "Close" : "Open",
                  menu_category_path(id: @menu_items.first.menu_category_id),
                  method: "PUT", class: "UpdateCategory-button" %>
    </div>

    <%= render partial: "owner-session" %>
<% elsif @current_user.role == "Billing Clerk" %>
    <%= render partial: "clerk-session" %>
<% else %>
    <%= render partial: "customer-session" %>
<% end %>
