<h1 class="MenuCategory">Menu</h1>

<% MenuCategory.all.each do |mc| %>
    <h2 class="MenuCategory-title"><%= mc.name %></h2>

    <ul>
        <% MenuItem.get_menu_items(mc.id).each do |mi| %>
            <% if mi.availability %>
                <li>
                    <div class="MenuItem-container">
                        <p class="MenuItem-title"><%= mi.name %></p>
                        <p class="MenuItem-price">₹ <%= mi.price %></p>
                        <%= button_tag("Buy", type: "button") %>
                        <%= button_tag("Add to cart", type: "button") %>
                    </div>
                    <p class="MenuItem-description"><%= mi.description %>
                </li>
            <% end %>
        <% end %>
    </ul>
<% end %>