<h1 class="MenuCategory">Cart Items</h1>

<% @cart_items.each do |mc| %>
    <ul>
        <% MenuItem.get_cart_items(mc.menu_item_id).each do |item| %>
            <% if item.availability %>
                <li>
                    <div class="MenuItem-container">
                        <p class="MenuItem-title"><%= item.name %></p>
                        <p class="MenuItem-price">₹ <%= item.price %></p>
                        <p class="MenuItem-quantity">Quantity <%= mc.quantity %></p>
                        <%= button_tag("Buy", type: "button", class: "MenuItem-BuyButton") %>
                    </div>
                    <p class="MenuItem-description"><%= item.description %>
                </li>
            <% end %>
        <% end %>
    </ul>
<% end %>