<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <% if @current_user.present? %>
      <div class="NavigationBar">
        <%= link_to "Home", menu_categories_path, class: "NavigationBar-home" %>
        <%= link_to "Orders", orders_path, class: "NavigationBar-order" %>
        <% if @current_user.role == "Owner" %>
          <%= link_to "Sale Reports", show_reports_path, class: "NavigationBar-order" %>
          <%= link_to "Users", users_path, class: "NavigationBar-order" %>
          <%= link_to "Add User", new_user_path, class: "NavigationBar-order" %>
        <% end %>

        <%= link_to "Sign out", destroy_session_path, method: "DELETE", class: "NavigationBar-signout" %>
        <label class="NavigationBar-profile">
          <%= "#{@current_user.first_name} #{@current_user.last_name}" %>
        </label>

        <%= form_with(url: menu_categories_path, method: "GET", class: "NavigationBar-search") do |form| %>
          <%= form.text_field(:search_item, placeholder: "Search item", class: "SearchBar-field") %>
          <%= form.submit("Search", class: "SearchBar-button") %>
        <% end %>
      </div>
    <% end %>

    <% if flash[:error] %>
      <p class="Flash-error"><%= flash[:error] %></p>
    <% end %>

    <% if @current_user.present? %>
      <main><%= yield %></main>
    <% else %>
      <%= yield %>
    <% end %>

    <script>
      function myFunction() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
      }
    </script>
  </body>
</html>
