<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <% if @current_user.present? %>
      <ul class="UserHeader">
        <li><%= @current_user.first_name + " " + @current_user.last_name %></li>
        <li><%= link_to "Cart", cart_items_path, class: "UserHeader-cart" %></li>
        <li><%= link_to "Sign out", destroy_session_path, method: "DELETE" %></li>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
