<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <% if @current_user.present? %>
      <ul class="NavigationBar">
        <li><%= link_to "Home", menu_categories_path, class: "NavigationBar-home" %></li>
        <li><%= link_to "Orders", orders_path, class: "NavigationBar-order" %></li>
        <li><%= link_to "Cart", cart_items_path, class: "NavigationBar-cart" %></li>
        <li><%= link_to "Sign out", destroy_session_path,
                        method: "DELETE", class: "NavigationBar-sign-out" %>
        </li>
        <li class="NavigationBar-profile">
          <%= "#{@current_user.first_name} #{@current_user.last_name}" %>
        </li>
      </ul>
    <% end %>

    <% if flash[:error] %>
      <p class="Flash-error"><%= flash[:error] %></p>
    <% end %>

    <main><%= yield %></main>
  </body>
</html>
